<h1>IlkOrnek</h1>

<table class="table table-stripped table-hover">
    <tr>
        <th>Ad</th>
        <td> <input class="form-control" type="text" id="txtAd" /> </td>
    </tr>
</table>

<input type="button" class="btn btn-warning" id="kaydet" value="Kaydet" />